.nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}